venv/
__pycache__/
.ipynb_checkpoints/

.vscode/

mlruns/
mlflow.db

reports/
artifacts/

*.pyc
*.pyo
*.log

.DS_Store

# Environment and secrets
.env
.env.local
.streamlit/secrets.toml
.env.example
# IDE
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.streamlit/secrets.toml.example